[Unit]
Description=Run restic backup {{ item.key }} every night

[Timer]
OnCalendar={{ item.value.schedule_oncalendar | default(restic_systemd_timer_default_oncalendar) }}
RandomizedDelaySec={{ restic_systemd_timer_randomizeddelaysec }}
Persistent=true

[Install]
WantedBy=timers.target
