[pretix]
instance_name={{ pretix_instance_name }}
url={{ pretix_url }}
currency={{ pretix_currency }}

datadir=/data
trust_x_forwarded_for=on
trust_x_forwarded_proto=on

[database]
backend=postgresql
name={{ pretix_db_name }}
user={{ vault_pretix_db_user }}
password={{ vault_pretix_db_pass }}
host={{ pretix_db_host }}

[mail]
from={{ pretix_mail_from }}
host={{ pretix_mail_host }}
user={{ pretix_mail_user }}
password={{ pretix_mail_password }}
port={{ pretix_mail_port }}
tls={{ pretix_mail_tls }}
ssl={{ pretix_mail_ssl }}

[redis]
location=redis://{{ pretix_redis_host }}:6379/0
; Remove the following line if you are unsure about your redis' security
; to reduce impact if redis gets compromised.
sessions=true

[celery]
backend=redis://{{ pretix_redis_host }}:6379/1
broker=redis://{{ pretix_redis_host }}:6379/2
